.sahay-project{
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
}
.sahay-project .main-h, 
.sahay-project .main-p{
    padding: 0 10%;
}
.sahay-project .userflow,
.sahay-project .dashboard{
    width: 60%;
    margin: 0 auto;
}
.sahay-project h1{
    font-size: 40px;
    letter-spacing: 4.8px;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    text-align: center;
}
.sahay-project p{
    font-size: 20px;
    letter-spacing: 1.32px;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
    text-align: center;
    width: 65%;
    margin: 30px auto;
}
.sahay-project .sahayimage{
    width: 60%;
    margin: 0 20%;
}
.sahay-project .topography-icons{
    margin: 30px 20%;
    padding: 40px 0;
}
.sahay-project .topography-icons .topography{
    width: 80%;
}
.sahay-project .topography-icons .iconset{
    width: 55%;
}
.sahay-project .topography-icons .topography .topo-heading,
.sahay-project .topography-icons .iconset h1{
    font-size: 30px;
    letter-spacing: 4.8px;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    text-align: left;
    margin-bottom: 30px;
}
.sahay-project .topography-icons .topography .topo-display{
    font-size: 33px;
    color: #696969;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    margin-bottom: 2px;
}
.sahay-project .topography-icons .topography .topo-para,
.sahay-project .topography-icons .iconset p{
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #696969;
    font-family: 'Ibarra Real Nova', serif;
    text-align: left;
    width: 60%;
    margin: 0 0 20px 0;
}
.sahay-project .topography-icons .iconset p{
    width: 100%;
}
.sahay-project .topography-icons .topography .topography-weight{
    margin: 10px 0;
}
.sahay-project .topography-icons .topography .topography-weight div:not(:last-child){
    border-right: 1px solid #696969;
}
.sahay-project .topography-icons .topography .topography-weight div{
    padding: 10px;
}
.sahay-project .topography-icons .topography .topography-weight div:first-child{
    padding-left: 0;
}
.sahay-project .topography-icons .topography .topography-weight h1{
    font-size: 28px;
    color: #696969;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    text-align: left;
}
.sahay-project .topography-icons .topography .topography-weight p{
    font-size: 12px;
    letter-spacing: 0.05px;
    color: #696969;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
    text-align: left;
    width: fit-content;
    margin: 0;
}
.sahay-project .topography-icons .topography .topography-weight .topography-medium p{
    font-weight: 600;
}
.sahay-project .topography-icons .topography .topography-weight .topography-bold p{
    font-weight: 800;
}
.sahay-project .topography-icons .iconset p{
    width: 85%;
    margin: 0 0 20px 0;
    font-size: 20px;
}
.sahay-project .topography-icons .iconset .icons img{
    margin: 20px 20px 10px 0;
    height: 27px;
    width: 25px;
}
.sahay-project .userflow h1,
.sahay-project .dashboard h1,
.screens h1{
    font-size: 30px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: left;
    letter-spacing: 4.8px;
}
.sahay-project .userflow .flow-div p,
.sahay-project .dashboard p{
    letter-spacing: 1.5px;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    color: #696969;
    width: 40.5%;
    text-align: left;
    margin: 20px 0;
}
.sahay-project .userflow .flow-div img{
    width: 50%;
}
.sahay-project .dashboard{
    padding: 70px 0;
    display: flex;
    flex-direction: column;
}
.sahay-project .dashboard p{
    width: 90%;
    color: #000;
}
.sahay-project .dashboard h3{
    letter-spacing: 0px;
    color: #696969;
    font-size: 25px;
    font-family: 'Ibarra Real Nova', serif;
    margin-top: 50px;
    margin-bottom: 0;
}
.sahay-project .dashboard img{
    margin: 0 auto;
    width: 60%;
}
.sahay-project .screens{
    width: 100%;
    padding: 0 10%;
    background: transparent linear-gradient(0deg, #D2CBBA 0%, #D2CBBA0A 42%, #D2CBBA00 100%);
}
.screens .screen-grid{
    padding: 60px 0;
}
.screens .screen-grid{
    display: grid;
    grid: auto / auto auto auto auto;
    row-gap: 80px;
    column-gap: 20px;
}
.screens .screen-grid div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screens .screen-grid div h5{
    letter-spacing: 2.4px;
    color: #696969;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    margin-bottom: 20px;
}
.screens .screen-grid div:hover{
    transform: scale(1.05);
}
.sahay-project .screens .icons{
    margin-top: 50px;
    padding: 20px 30px 80px 30px;
    justify-content: center;
}
.sahay-project .screens .icons svg{
    width: 25px;
    height: 25px;
    margin: 0 20px;
    color: #000;
}
@media screen and (max-width: 1120px) {
    .sahay-project p {
        width: 100%;
    }
    .sahay-project .topography-icons .topography {
        width: 105%;
    }
    .sahay-project .topography-icons .iconset {
        width: 55%;
    }
    .sahay-project .topography-icons .iconset .icons img {
        margin: 30px 10px 10px 0;
        width: 25px;
    }
    .sahay-project .topography-icons .iconset p {
        width: 100%;
    }
    .sahay-project .userflow .flow-div p {
        width: 50%;
    }
    .screens .screen-grid{
        grid: auto / auto auto auto;
    }
}
@media screen and (max-width: 900px) {
    .sahay-project .topography-icons {
        flex-direction: column;
    }
    .sahay-project .topography-icons .topography .topo-para, 
    .sahay-project .topography-icons .iconset p {
        width: 80%;
    }
    .sahay-project .topography-icons .topography,
    .sahay-project .topography-icons .iconset {
        width: 100%;
    }
    .sahay-project .userflow .flow-div{
        flex-direction: column;
    }
    .sahay-project .userflow .flow-div p {
        width: 100%;
        margin-bottom: 60px;
        font-size: 18px;
    }
    .sahay-project .userflow .flow-div img {
        width: 100%;
    }
    .sahay-project .dashboard p{
        font-size: 18px;
    }
    .screens .screen-grid{
        grid: auto / auto auto;
    }
}
@media screen and (max-width: 650px) {
    .sahay-project h1 {
        font-size: 28px;
    }
    .sahay-project p {
        font-size: 18.5px;
    }
    .sahay-project .topography-icons .topography .topography-weight{
        flex-direction: column;
    }
    .sahay-project .topography-icons .topography .topography-weight div:not(:last-child){
        border-right: none;
    }
    .sahay-project .topography-icons .topography .topography-weight div{
        padding: 10px 0;
    }
    .sahay-project .topography-icons .topography .topo-para, 
    .sahay-project .topography-icons .iconset p {
        width: 100%;
    }
    .sahay-project .topography-icons .iconset p {
        margin-bottom: 0;
    }
    .sahay-project .userflow h1,
    .sahay-project .dashboard h1,
    .screens h1{
        font-size: 34px;
    }
    .sahay-project .userflow .flow-div p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .sahay-project .dashboard p{
        font-size: 14px;
        width: 100%;
    }
    .sahay-project .dashboard h3 {
        margin: 30px 0;
        font-size: 24px;
    }
    .sahay-project .dashboard img {
        width: 100%;
    }
    .screens .screen-grid img{
        width: 150px;
    }
    .screens .screen-grid div h5 {
        font-size: 16px;
    }
}
@media screen and (max-width: 400px){
    .screens .screen-grid img {
        width: 110px;
    }
    .sahay-project .userflow h1, 
    .sahay-project .dashboard h1, 
    .screens h1 {
        font-size: 28px;
    }
}